<div class="tripsheet">
	<form action="nil">
		<div class="trip-head">
			CNS976 - Peter Kemble PIC, Joe Ricks, SIC - 11/13/2015
		</div>
		<div class="leg">
			<div class="title">
				Leg 1: KFMY - KTLH
			</div>
			<div class="dep">
				Dep: 1153 (1653Z)
			</div>
			<div class="dep-arpt">
				KFMY - Fort Myers, FL
			</div>
			<div class="dep-fbo">
				Base Ops - 130.55 - $4.11
				0700-2100 800-999-9999
			</div>
			<div class="pax">
				Pax: -
			</div>
			<div class="arr">
				Arr: 1315 (1815Z)
			</div>
			<div class="arr-arpt">
				KTLH - Tallahassee, FL
			</div>
			<div class="arr-fbo">
				Million Air - 130.17 - $5.88
				<br>
				24 hours 800-999-9999
			</div>
			<div class="block-times">
				<div class="burn"></div><div class="ete"></div><div class="fl"></div>
				<div class="bout"></div><div class="boff"></div>
				<div class="bon"></div><div class="bin"></div>
				<div class="act-burn"></div><div class="hobbs"></div>
				<div class="fob"></div>
			</div>
		</div>
	</form>
</div>