<form action="nil">
	<table class="tripsheet">
		<tr>
			<td>Dep:</td><td><input type="text" /></td>
			<td>Arr:</td><td><input type="text" /></td>
		</tr>
		<!-- <tr class="fbo_info">
			<td colspan="2">FBO</td><td>freqs</td><td>fuel</td>
		</tr>
		<tr>
			<td colspan="2"><input type="text"></td><td><input type="text"></td><td><input type="text"></td>
		</tr> -->
		<tr class="block-times">
			<td colspan="2" class="bul"></td><td colspan="2" class="bur"></td>
		</tr>
		<tr class="block-times">
			<td colspan="2" class="bml"></td><td colspan="2"class="bmr"></td>
		</tr>
		<tr class="block-times">
			<td colspan="2" class="bll"></td><td colspan="2" class="blr"></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
</form>
