<div class="container">
	<h1>import-export</h1>
    <%= link_to "PSI CSV import", psi_import_path %>
	<div class="col-sm-4 col-sm-offset-4">
		<h1>Export options</h1>
		<div class="row">
			
			<h4>Generate PSI expense report for <%= link_to @prev_month, '/psi_expense_report/' + @prev_month_num %></h4>
		</div>


	</div>
	<%= debug(params)%>
</div>
