<div class="panel panel-default">
	<div class="panel-heading">
		<h3>New entry:</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 form-group">
<<<<<<< HEAD
				<% if Entry.where(user_id: current_user.id).any? %> <!-- TODO isn't this a method in Entry.rb? -->
=======
				<% if current_user.entries.any? %>
>>>>>>> master
					<%= link_to 'Populate form from the last entry', continued_entry_path, class: "btn btn-success" %>
				<% end %>
				<%= link_to 'Clear form', new_entry_path, class: "btn btn-warning" %>
			</div>
		</div>
		<%= render 'form' %>
	</div>
</div>
