<div class="alert alert-success centered-alert">
	<h3>Welcome!</h3>
	You can now start <%= link_to 'logging flights', root_path %>, 
	but also set up a default tail number pattern, or flight number below. <br />
	See the help page for more information." <!-- TODO help file link -->
</div>
