/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: "Courier-new", Courier, monospace;
	/*font-size: 12px*/
	
}

.header {
	height: 40px;
	padding: 30px;
	background-color: #06f;
	font-size: 30px;
	color: white;
}

.header a, .header a:visited, .header a:active {
	color: white;
	text-decoration: none;
}

td {
	padding: 0;
	margin: 2px;
}

th, td {
	background-color: #cce1ff
}

/*table a {
	background-color: #06f;
	color: white;
}*/


