<header class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<%= link_to 'big logbook title thing', root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'home', root_path %></li>
				<li><%= link_to 'sign up', '#'%></li>
				<li><%= link_to 'login', '#' %></li>
			</ul>
		</nav>
	</div>
</header>