<header class="navbar navbar-fixed-top">
	<div class="container">
		<%= link_to 'logbook', root_path %>
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'home', root_path %></li>
				<li><%= link_to 'sign up', '#'%></li>
				<li><%= link_to 'login', '#' %></li>
			</ul>
		</nav>
	</div>
</header>